<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> A book for you </title>
    </head>
    <style>
        .input {
            font-size: 1em;
            display: block;
            padding: 5px;
        }

        .hidden {
            display: none;
        }

        .submit-button {
            font-size: 1em;
            display: block;
            padding: 5px;
            margin: 10px;
        }
    </style>
    <body>
        <div>
            <h1> Bienvenido a nuestro servicio de renta de libros </h1>
        </div>

        <div>
            <h2> Ingrese a su cuenta </h2>
            <form id="login-form">
                <label>
                    <label for="username" class="input"></label>
                    <input type="text" id="username" class="input" placeholder="Nombre de usuario">
                    <label for="password" class="input"></label>
                    <input type="password" id="password" class="input" placeholder="Contraseña">
                    <input type="submit" class="submit-button" value="Ingresar">
                </label>
            </form>
        </div>

    </body>

</html>